* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("../images/white-waves.png");
  background-size: cover;
}

.nav-bar {
  display: flex;
  background: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin: 0;
  border: solid #cccccc 1px;
  position: relative;
}

.nav-title {
  background: #4aaaa5;
  margin-left: 265px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
  font-weight: bold;
}

.nav-menu {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  color: #777777;
  vertical-align: baseline;
  height: 78px;
  padding-top: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #4aaaa5;
}

ul {
  list-style-type: none;
  margin-right: 265px;
}

li {
  display: inline;
  padding: 0 0 0 10px;
  /* display: inline-block;
  vertical-align: middle; */
}

li:not(:first-child):before {
  content: "|";
  padding-right: 11px;
}

.about-wrapper,
.contact-wrapper,
.portfolio-wrapper {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about-title,
.contact-title,
.portfolio-title {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

hr {
  border: solid #cccccc 1px;
  margin-bottom: 20px;
}

.bio-image {
  float: left;
  margin-right: 25px;
}

.about-border,
.contact-border,
.portfolio-border {
  border: solid #cccccc 1px;
  margin: 50px 150px 75px 150px;
  background: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  width: 910px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-wrapper p,
.form-field label {
  color: #777777;
  font-size: 18px;
  line-height: 32px;
}

label {
  display: block;
}

.form-field input {
  width: 860px;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.form-button {
  background: #4aaaa5;
  color: white;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  margin: 15px 0 25px 0;
}

.form-button:hover {
  color: #4aaaa5;
  background: #cccccc;
  cursor: pointer;
}

.portfolio-column {
  position: relative;
  float: left;
  width: 30%;
  margin: 10px;
}

.portfolio-column img {
  width: 100%;
}

.portfolio-row::after {
  content: "";
  clear: both;
  display: table;
}

.portfolio-image-text {
  position: absolute;
  bottom: 1%;
  text-align: center;
  width: 100%;
  font-family: 'Georgia', Times, Times New Roman, serif;
  background: #4aaaa5;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

img:hover {
  cursor: pointer;
}

.portfolio-image-text:hover {
  background: white;
  color: #4aaaa5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid #4aaaa5 5px;
  background: darkgrey;
  margin: 0;
  color: white;
  text-align: center;
}

footer p {
  font-size: 15px;
  margin-bottom: 4px;
}

/* media sceen max-width: 980px */

@media screen and (max-width: 980px) {
  .nav-title {
    margin-left: 36px;
  }
  ul {
    margin-right: 40px;
  }
  .about-border,
  .portfolio-border,
  .contact-border {
    margin-left: 36px;
    width: 600px;
  }
  .portfolio-column img {
    height: 225px;
    width: 225px;
  }
  .portfolio-column {
    position: relative;
  }
  .portfolio-image-text,
  .image-right {
    position: absolute;
    text-align: center;
  }
  .portfolio-image-text {
    width: 225px;
  }
  .portfolio-column-right,
  .image-right {
    margin-left: 115px;
  }
  .form-field input {
    width: 100%;
  }
  .form-field textarea {
    width: 100%;
  }
}

/* media sceen max-width: 768px */

@media screen and (max-width: 768px) {
  .about-border,
  .portfolio-border,
  .contact-border {
    width: 90%;
  }
  .portfolio-column img {
    height: 150%;
    width: 150%;
  }
  .portfolio-image-text {
    width: 150%;
  }
  .form-field input {
    width: 100%;
  }
  .form-field textarea {
    width: 100%;
  }
}

/* media screen max-width: 640px */

@media screen and (max-width: 640px) {
  .about-border,
  .portfolio-border,
  .contact-border {
    margin-top: 25px;
  }
  .nav-title {
    position: relative;
    height: 125px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .nav-menu {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 50px;
    background: white;
    text-align: center;
    padding: 0;
  }
  .portfolio-row {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-column,
  .portfolio-column-right {
    flex: 100%;
    max-width: 100%;
  }
  .portfolio-column img {
    height: 100%;
    width: 100%;
  }
  .portfolio-column-right {
    margin-left: 0;
  }
  .portfolio-image-text {
    width: 100%;
  }
  .portfolio-image-text,
  .image-right {
    width: 100%;
    margin-left: 0;
  }
  .form-field input {
    width: 100%;
  }
  .form-field textarea {
    width: 100%;
  }
}
